{
	"presets": [ "es2015" ],
	"plugins": [
		"transform-class-constructor-call",
		"transform-class-properties",
		"transform-decorators",
		"transform-export-extensions",
		"transform-function-bind",
		"transform-object-rest-spread",
		"transform-flow-strip-types"
	]
}
